@import url(reset.css);

/* handlee y monstserrat 400, 700 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* fontawesome cdn (iconos) */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    box-sizing: border-box;
}

/* :root->aqui vamos a poner todas las variables que vamos a utilizar en el ejercicio */

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris: #aaa;    
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;
    display: block;
} /* en las imagenes siempre sera estas medidas */

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
    }/* creamos el container para encorsetar */


    /* row lo aplico a los elementos para hacrelo flotante */

.row{
    display: flex; 
    }

/* header: todo lo que vemos al navegar en web */

header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 10px;/* 20 arriba-abajo, 10 izq-drcha */
}

header .nav_top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}

header .nav_top a span{
    display: none;
}

header .nav_top a i{
    color: var(--color-principal);
}

header .nav_top .row{
    justify-content: space-between;/* para que me separe los item del menu */
}

header nav{
    padding: 20px 10px;/* darle un poco de aire a cada lado */
}

header .hamburguesa{
    width: 50px;
    cursor: pointer;/* sale la manica como si fuera un enlace */
}

header .hamburguesa div{
    border-top: 2px solid var(--gris);/* hace que se ponga el menu de las rayitas */
    margin: 10px;
}

header nav .row{
    flex-wrap: wrap;/* nosotros decidimos el tamaño del elemento en el sistema flexible */
    justify-content: space-between;/* se reparten los elementos en el espacio */
}

header nav ul{
    width: 100%
    ;
}

header nav .logo{
    max-width: 110px;
} /* la imagen como maximo tenga esa medida */

header nav ul li a{
    display: block;/* hacerlo bloque */
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid
    var(--gris);/* las lineas de debajo los item */
}

header nav ul li a:hover{
    color: var(--color-principal);
}/* marcado sobre el que pongo el raton */

header nav ul li .activo{
    color: var(--color-principal);
}

/* cambiamos tablet con las medias queries */
@media(min-width: 48em){
    header .nav_top a span{
        display: inline;/* se vea el texto de arriba al lado de los iconos */
    }  
    
}

/* pasamos a otra medida */
@media(min-width: 62.75em){
    header .hamburguesa{
        display: none;/* hamburguesa desaparece */
    }
    header nav ul{
        width: auto;
    }

    header nav ul li{
        display: inline-block;
    }

    header nav ul li a{
        padding: 5px 20px;
        border-bottom: none;
    }

}
/* fin del header */


/* inicio foooter */

footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position: fixed;/* es una posicion fija, no cambia aunque cambiemos el tamaño de la pagina */
    width: 100%;
    margin-top: 20px;
    bottom: 0px;/* para dejarlo pegado abajo del todo  */

}

footer a{
    color: white;
}


footer a:hover{
    text-decoration: none
} /* solo lo quitamos cuando nos posicionamos sobre el */

@media(min-width: 48em){
    footer{
        text-align: left;
    }  /* cuando pasamos de esta medida se alinea a la izq. */    
}

/* fin de footer */

#blog .container{
    padding: 2.125em 0.825em;
    background-color: var(--color-secundario);
}

#blog .row{
    flex-wrap: wrap;

}

.container{
    padding: 2.125em 0.825em;
    
}




.container h1{
    color: black;    
    font-size: 2em;
    text-align: center;/* texto centrado */
    font-family: var(--fuenteSecundaria);
        
}

.container h1 span{
    color: var(--color-principal);/* cambiar colo "services", tiene 2 colores */
}

body .container .underline{
    position: relative;/* los elementos son los que se mueven y cogen posicion relativa */
    width: 5em;
    margin: 10px auto;/* alinear al centro */
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
    
}

.container .underline hr{
    position: absolute; /* es el contenedor, pero tapa la capa del anterior */
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}


.container .row article{
    margin: 0 1%;
    position: relative;
    
    
}


.container .row .fecha{
    position: absolute;
    background-color: rgb(161, 97, 97);
    color: white;
    width: 50px;
    padding: 10px 10px;
    border: 50%;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 0;   
    
    
}

body section .row article h2{
    font-family: var(--fuentePrincipal);
    
    

}

.container .row h2{
    font-weight: 700;/* ponerlo en negrita */
    margin: 1em 0;
}

.container .row h3{
    font-weight: 700;
    color: var(--color-principal);
    font-size: small;

}

.container .row p{
    font-size: x-small;
    margin: 1em 0;
    
    

}

.enlace{
    text-decoration: none;/* sin subrayado */
    color: var(--color-principal);
    display: block;
    font-weight: 700;
    font-size: small;
}

@media(min-width: 48em){
    .container .row article{
        width: 48%;        
        
        
    }/* poner 2 articulos en la misma fila */


        main #ourservices article:last-child{
            width: 98%;/* 1 articulo */
        }

}    

