@import url(reset.css);

/* handlee y monstserrat 400, 700 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* fontawesome cdn (iconos) */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    box-sizing: border-box;
}

/* :root->aqui vamos a poner todas las variables que vamos a utilizar en el ejercicio */

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris: #aaa;    
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 40%;
    height: auto;
    display: block;
}

.container h1{
    color: black;    
    font-size: 2em;
    text-align: center;/* texto centrado */
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    

        
}

.container h1 span{
    color: var(--color-principal);/* cambiar colo "services", tiene 2 colores */
}

body .container.underline{
    position: relative;/* los elementos son los que se mueven y cogen posicion relativa */
    width: 5em;
    margin: 10px auto;/* alinear al centro */
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
    
}

body .container .underline hr{
    position: absolute; /* es el contenedor, pero tapa la capa del anterior */
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
    padding: 2.125em 0.825em;
    
        
}

.container h1 span{
    color: var(--color-principal);/* cambiar colo "services", tiene 2 colores */
}

body .container .underline{
    position: relative;/* los elementos son los que se mueven y cogen posicion relativa */
    width: 5em;
    margin: 10px auto;/* alinear al centro */
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
    
}

.container .underline hr{
    position: absolute; /* es el contenedor, pero tapa la capa del anterior */
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}
    
.container .container2 aside nav a{
    display: block;
    margin: 10px 0 ;
}

.container .container2{
    display: flex;
}

.container .container2 h2{
    
    font-weight: 700;
    

}

.container .container2 hr{
    width: 25%;
    margin-left: 0;
    background-color: red;
}

.container .container2 aside{
    margin: 0 40px;
    display: block;
    width: 40%;


}

.container .container2 #menu{
    display: block;
    margin-left: 0px;
    

    
}
.container .container2 #menu article div img{
    margin-left: 0px;
}





