@import url(reset.css);

/* handlee y monstserrat 400, 700 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* fontawesome cdn (iconos) */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    box-sizing: border-box;
}

/* :root->aqui vamos a poner todas las variables que vamos a utilizar en el ejercicio */

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris: #aaa;    
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;
    display: block;
} /* en las imagenes siempre sera estas medidas */

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;/* centrado */
}/* creamos el container para encorsetar */


/* row lo aplico a los elementos para hacrelo flotante */

.row{
    display: flex;
}

/* header: todo lo que vemos al navegar en web */

header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 10px;/* 20 arriba-abajo, 10 izq-drcha */
}

header .nav_top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}

header .nav_top a span{
    display: none;
}

header .nav_top a i{
    color: var(--color-principal);
}

header .nav_top .row{
    justify-content: space-between;/* para que me separe los item del menu */
}

header nav{
    padding: 20px 10px;/* darle un poco de aire a cada lado */
}

header .hamburguesa{
    width: 50px;
    cursor: pointer;/* sale la manica como si fuera un enlace */
}

header .hamburguesa div{
    border-top: 2px solid var(--gris);/* hace que se ponga el menu de las rayitas */
    margin: 10px;
}

header nav .row{
    flex-wrap: wrap;/* nosotros decidimos el tamaño del elemento en el sistema flexible */
    justify-content: space-between;/* se reparten los elementos en el espacio */
}

header nav ul{
    width: 100%
    ;
}

header nav .logo{
    max-width: 110px;
} /* la imagen como maximo tenga esa medida */

header nav ul li a{
    display: block;/* hacerlo bloque */
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid
    var(--gris);/* las lineas de debajo los item */
}

header nav ul li a:hover{
    color: var(--color-principal);
}/* marcado sobre el que pongo el raton */

header nav ul li .activo{
    color: var(--color-principal);
}

/* cambiamos tablet con las medias queries */
@media(min-width: 48em){
    header .nav_top a span{
        display: inline;/* se vea el texto de arriba al lado de los iconos */
    }  
    
}

/* pasamos a otra medida */
@media(min-width: 62.75em){
    header .hamburguesa{
        display: none;/* hamburguesa desaparece */
    }
    header nav ul{
        width: auto;
    }

    header nav ul li{
        display: inline-block;
    }

    header nav ul li a{
        padding: 5px 20px;
        border-bottom: none;
    }

}
/* fin del header */


/* inicio foooter */

footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position: fixed;/* es una posicion fija, no cambia aunque cambiemos el tamaño de la pagina */
    width: 100%;
    margin-top: 20px;
    bottom: 0px;/* para dejarlo pegado abajo del todo  */

}

footer a{
    color: white;
}


footer a:hover{
    text-decoration: none
} /* solo lo quitamos cuando nos posicionamos sobre el */

@media(min-width: 48em){
    footer{
        text-align: left;
    }  /* cuando pasamos de esta medida se alinea a la izq. */    
}

/* fin de footer */

/* inicio hero */

.hero{
    background-image: url(../images/fondo.jpg);
    background-color: #999;
    background-blend-mode: multiply;
    height: 60vh;
    background-size: cover;/* ocupa el 100% de espacio */
    background-position: center;/* centramos la imagen */
    padding: 10% 10px;
}

.hero .h1{
    font-family: var(--fuenteSecundaria);
    color: white;
    font-size: 2.5em;/* =250% */
}

.hero h2{
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p{
    color: white;
    font-size: 1.10em;
}

.boton{
    display: inline-block;/* lo convierto en bloque */
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal)/* para que cuando pinches sobre el boton solo se quede el borde */
}

.boton:hover{
    background-color: transparent;/* quitamos el color del interior dell boton */
    color: var(--color-principal);
    
}

.boton i{
transition: 0.5s;
}

.boton:hover i{
    transform: translateX(5px);/* se necesita para poder hacer la animacion de la flecha sobre el eje X */
}

.hero ul li{
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero ul li a {
    color: white;
}



/* fin hero */

/* inicio main section ourservices */

main .container{
    padding: 2.125em 0.825em;
    
}

main .container h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;/* texto centrado */
}

main section h2 span{
    color: var(--color-principal);/* cambiar colo "services", tiene 2 colores */
}

main section .underline{
    position: relative;/* los elementos son los que se mueven y cogen posicion relativa */
    width: 5em;
    margin: 0 auto;/* alinear al centro */
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr{
    position: absolute; /* es el contenedor, pero tapa la capa del anterior */
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}

main #ourservices .row{
    flex-wrap: wrap;/*para ponerlos en columnas */
    
}


main #ourservices article{
border-bottom: 1px solid var(--color-secundario);
padding: 1.825em 0;
}

main #ourservices article div i{
    color: var(--color-principal);
    font-size: 2em;
    border: 2px solid var(--color-principal);
    padding: 0.8rem;/* hay que poner medida rem ya que hereda del font-size */
}

main #ourservices article .fa-truck{
    transform: rotateY(180deg);
}

main #ourservices article h3{
    margin: 1em 0;
    font-weight: 700;/* ponerlo en negrita */
}

.enlace{
    text-decoration: none;/* sin subrayado */
    color: var(--color-principal);
    margin: 1em 0 0;
    display: block; /* es un elemento en linea y hay que ponerlo en bloque */
}

@media(min-width: 48em){
    main #ourservices article{
        width: 50%;
        border-bottom: 0px;
        border-left: 1px solid var(--color-secundario);
        padding: 1.825em;
        margin-bottom: 1em;
    }/* poner 2 articulos en la misma fila */


        main #ourservices article:last-child{
            width: 100%;/* 1 articulo */
        }

}    

@media(min-width: 62.75em){
    main #ourservices article, main #ourservices article:last-child/* hay que especificar todos los articulos ya que en la media quereis anterior estamos espcificando otras medidas */{
        width: 33.333%;}
}


/* fin main section ourservices */


/* inicio main section abaut us */


main #aboutus{
    padding-bottom: 100px;
}
main #aboutus .row{
    flex-wrap: wrap;
}

main #aboutus h3{
    font-weight: 700;

}

main #aboutus h4{
    margin: 1em 0;
    color: var(--color-principal);

}

main #aboutus .marco{
    margin: 15px 0;
    border: 3px solid var(--color-principal);
    transform: rotateZ(10deg);/* para que el marco y la imagen roten */
    width: 90%;
    transition: 1s;
}

main #aboutus .marco img{
    transform: rotateZ(-10deg);/* para que rote la imagen */
    transition: 1s;
}

main #aboutus .columna:hover .marco, main #aboutus .columna:hover img{
    transform: rotateZ(0deg);
}

@media(min-width: 48em){
    main #aboutus .marco{
        margin: 0 15px;
    }

    main #aboutus .columna:first-child{
        width: 40%;
    }
    main #aboutus .columna:last-child{
        width: 60%;
    } 
}
/* fin main section abaut us */




/* inicio blogs */



#blog {
    padding: 2.125em 0.825em;
    font-family: var(--fuenteSecundaria);
}




main #blog .row{
    flex-wrap: wrap;   

}

#blog h1{
    color: black;    
    font-size: 2em;
    text-align: center;/* texto centrado */    
    font-weight: 700;
    font-family: var(--fuentePrincipal);
            
}

#blog span{
    color: var(--color-principal);/* cambiar colo "services", tiene 2 colores */
    
}

#blog .underline{
    position: relative;/* los elementos son los que se mueven y cogen posicion relativa */
    width: 5em;
    margin: 10px auto;/* alinear al centro */
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
    
}

#blog .underline span{
    font-weight: bold;
    
}

#blog .underline hr{
    position: absolute; /* es el contenedor, pero tapa la capa del anterior */
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}


#blog .row article{
    margin: 0 1%;    
    position: relative;
    width: 48%; 
    font-family: var(--fuentePrincipal);  
    
}


#blog .row .fecha{
    position: absolute;
    background-color: rgb(161, 97, 97);
    color: white;
    width: 50px;    
    border: 50%;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 0; 
    display: block; 
    margin: 0 auto; 
    text-align: center;
    font-size: larger;
    
    
}

#blog .row article h2{
    font-family: var(--fuentePrincipal);
    font-size: x-large;
    text-align: left;
    font-weight: 700;  
    margin: 1em 0;

}



#blog .row article h3{
    font-weight: 700;
    color: var(--color-principal);
    font-size: large;
    
}

#blog .row article p{
    font-size: medium;
    margin: 1em 0;
    
    

}

#blog .row .enlace{
    text-decoration: none;/* sin subrayado */
    color: var(--color-principal);
    display: block;
    font-weight: 700;
    font-size: small;
    margin: 1em 0;
}

@media(min-width: 48em){
    #blog .row article{
        width: 48%;        
        
        
    }/* poner 2 articulos en la misma fila */


    #blog .row article:last-child{
        width: 98%;/* 1 articulo */
    }

}  

/* pasamos a otra medida */
@media(min-width: 62.75em){
    #blog .row article, #blog .row article:last-child{
        width: 31%;
    }
}

    

/* FIN inicio blogs */


/*  INICIO MENU*/

main #menudeldia{
    background-color:var(--color-secundario);
    padding: 50px 80px;
}

main #menudeldia h2{
    font-weight: 700;
    font-family:var(--fuenteSecundaria) ;
    color: white;
    text-align: center;
    font-size: x-large;
    
}

main #menudeldia h2 span{
    color: var(--color-principal);
}

main #menudeldia .underline{
    position: relative;/* los elementos son los que se mueven y cogen posicion relativa */
    width: 5em;
    margin: 10px auto;/* alinear al centro */
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
    
}

main #menudeldia .underline hr{
    position: absolute; /* es el contenedor, pero tapa la capa del anterior */
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}

main #menudeldia .container2 {     
    color: white;   
    
}


main #menudeldia .container2 aside p{
    font-size: small;
}

main #menudeldia .container2 aside nav a{
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color:white;
    
}


main #menudeldia .container2 aside nav a:hover{
    background-color: red;
    margin-bottom: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    
    
}
main #menudeldia .container2 aside h3{
    font-weight: 700;
    margin-top: 60px;
    color: white;
    font-size: large;
    text-align: left;
}

main #menudeldia .container2 aside hr{
    border-color: var(--color-principal);
    width: 50px;
    margin-left: 0px;
}

main #menudeldia .container2 #carta .row{
    display: block;
}



main #menudeldia .container2 #carta .imagen{
    margin: 10px 0;
}

main #menudeldia .container2 #carta article {
    margin-bottom: 20px;   
    
}


main #menudeldia .container2 #carta .ingredientes .enlace{
    text-decoration: none;
    color: var(--color-principal);
    margin: 1em 0 0;
    display: block; 
    font-size: small;
    font-weight: 700;
}

main #menudeldia .container2 #carta .ingredientes h4{
    font-weight: 700;
}

main #menudeldia .container2 #carta .ingredientes p{
    font-size: small;
    margin: 10px 0;
}

main #menudeldia .container2 #carta .ingredientes{
    position: relative;
}
main #menudeldia .container2 #carta .ingredientes .precio p{
    color: var(--color-principal);
    font-size: small;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
}

/* tablet */

@media(min-width: 48em){
    main #menudeldia .container2 {
        display: flex;
}

main #menudeldia .container2 #carta .row{
    display: flex;
    
    width: 20px 80px;
}
main #menudeldia .container2 #carta .row .imagen{
    width: 30%;
}

main #menudeldia .container2 #carta .row .ingredientes{
    margin: 20px 20px;
    width: 70%;

}

main #menudeldia .container2 aside{
    padding:20px 40px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}



main #menudeldia .container2 aside{
    width: 30%;
}
}






