@import url(reset.css);

/* handlee y monstserrat 400, 700 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* fontawesome cdn (iconos) */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    box-sizing: border-box;
}

/* :root->aqui vamos a poner todas las variables que vamos a utilizar en el ejercicio */

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris: #aaa;    
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;
    display: block;
} /* en las imagenes siempre sera estas medidas */

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
    padding: 2.125em 0.825em;
}/* creamos el container para encorsetar */

.row{
    display: flex;
    

}


.container h1{
    color: black;    
    font-size: 2em;
    text-align: center;/* texto centrado */
    font-family: var(--fuenteSecundaria);
        
}

.container h1 span{
    color: var(--color-principal);/* cambiar colo "services", tiene 2 colores */
}

body .container .underline{
    position: relative;/* los elementos son los que se mueven y cogen posicion relativa */
    width: 5em;
    margin: 10px auto;/* alinear al centro */
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
    
}

.container .underline hr{
    position: absolute; /* es el contenedor, pero tapa la capa del anterior */
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}

.container .row article{
    margin: 0 10px;
    position: relative;
}


.container .row .fecha{
    position: absolute;
    background-color: rgb(161, 97, 97);
    color: white;
    width: 50px;
    padding: 10px 10px;
    border: 50%;
    top: 0;
    left: 0;
    
}

body section .row article h2{
    font-family: var(--fuentePrincipal);
    

}

.container .row h2{
    font-weight: 700;/* ponerlo en negrita */
    margin: 1em 0;
}

.container .row h3{
    font-weight: 700;
    color: var(--color-principal);
    font-size: small;

}

.container .row p{
    font-size: small;
    margin: 1em 0;
    
    

}

.enlace{
    text-decoration: none;/* sin subrayado */
    color: var(--color-principal);
    display: block;
    font-weight: 700;
    font-size: small;
}

@media(min-width: 48em){
    .container .row article{
        width: 50%;
    }


    .container .row article:last-child{
            width: 100%;
        }
    